html {
	height: 100%;
	padding:0;
	margin:0;
}

body {
	height:100%;
	padding:0;
	margin:0;
	background-repeat: repeat;
}

a {
	text-decoration: none;
	color: #009bff;
}

a:hover {
	text-decoration: none;
	color: #00bd6f;
}


.green-text {
	color: #00BD6F !important;
}

.blue-text {
	color: #009BFF !important;
}

.white-text {
	color: white !important;
}



.bold {
	font-weight: bold;
}

.spacer {
	height: 10%;
	width: 100%;
}

.empty-span {
	font-size: 0vw;
}



.message-block {
	height: 25%;
	padding-top: 3%;
}

.title-block {
	height: 25%;
	float-left;
	margin-top: 5%;
	margin-bottom: 5%;
}

.title-text {
	color: white;
	font-size: 12vmin;
	text-align: center;
	font-family: "Raleway";
}

.notify-text {
	text-align: center;
	color: white;
	line-height: 100%;
	display: inline-block;
	vertical-align: middle;
	float: left !important;
}

#top-bar {
	margin-bottom: 0px !important;
}

/*
#launch-wrapper {
	width: 100%;
	display: inline-block;
	position: relative;
}

#launch-wrapper:after {
	padding-top: 66.5%;
	display: block;
	content: '';
}
*/
#launch {
	background: url('images/coronado.jpg') no-repeat;
	width: 100%;
	height: 70%;
	background-size: cover;
	position: relative;
/*	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0; */
}



.bot-nav-container{
	width: 80%;
	vertical-align: text-top; 
	margin-left: 10%;
    margin-right: 10%; 
    margin-top: 2%;
    position: absolute;
    bottom: 0%;
}

.bot-nav { width: 100%;}
	.bot-nav ul {text-align: center; padding-left: 0px !important;}
	.bot-nav ul li{width: 20%; padding-left: 2%; padding-right: 2%; display: inline;}
	.bot-nav ul li:first-child{}
	.bot-nav ul li:last-child{}
	.bot-nav ul li a { height: inherit; color: #EEEEEE; width: 100%; text-decoration: none;}


/* Large desktops and laptops */
@media (min-width: 1200px) {
	.message {
		text-align: right;
		font-size: 2vmin;
	}

	.bot-nav-container {
		font-size: 4vmin;
	}

	.bar-pos {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.inspector-list ul {
		font-size: 2vmin;
		display: inline-block;
	}

	.inpector-list li {
		text-align: left;
		float: left;
	}

	.inspector-name {
		text-align: left;
		font-size: 5vmin;
}



}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.message {
		text-align: center;
		font-size: 2vmin;
	}

	.bar-pos {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.message {
		text-align: center;
		font-size: 1.5vmin;
	}

	.bar-pos {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

}



/* Landscape phones and smaller */
@media (max-width: 767px) {

	.message-block {
		padding-top: 5%;
	}

	.message {
		text-align: center;
		font-size: 6vmin;
	}

	.title-block {
		margin-top: 12% !important;
		margin-bottom: 12% !important;
	}

	.title-text {
		font-size: 16vmin;
	}

	#launch {
		height: 100% !important;
	}

	.bot-nav-container {
		visibility: hidden;
	}

	.bar-pos {
		text-align: center;
		font-size: 5vmin !important;
	}

	#location-bar {
		position: relative !important;
	}

	#map-canvas {
		position: relative !important;
		height: 85% !important;
	}

	#loc-text {
		height: 50%;
		padding-top: 2%;
	}

	#loc-btn {
		height: 30%;
	}
}

.brand-image {
	width: 50%;
	height: 20%;
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 1%;
	margin-top: 1%;
	background: url('images/beepi_wide.png') no-repeat;
	background-size: contain;
	background-position: center;
}

.brand-image img {
	width: 50%;
	height: 100%;
	margin-left: 25%;
	object-fit: contain;
	overflow: hidden;
}

.brand-expansion {
	height: 8%;
	font-family: "Raleway", 500;
	font-size: 8vh;
	text-align: center;
	color: #009bff;
}

.navbar-brand img {
	height: 100%;
	object-fit: contain;
	overflow: hidden;
}


#map {
	width: 100%;
	height: 80%;
	position: relative;
}

#map-canvas {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

#location-bar {
	background-color: rgba(50, 50, 50, .3);
	height: 15%;
	position: absolute;
	z-index: 2;
}

.bar-pos {
  font-size: 3vmin;
  color: white;
}

#check-address:hover {
	cursor: pointer;
}

#inspector {
	width: 100%;
	height: 70%;
}

#inspector-title {
	text-align: center;
	margin-top: 5%;
}

.sub-title {
	font-size: 4vmin;
	font-family: "Quicksand";
}

.main-title {
	font-size: 6vmin;
	font-family: "Raleway";
	margin-bottom: 3%;
}

.inspector-picture {
	margin: auto;
	width: 208px;
	height: 208px;
	border-radius: 104px;
	-webkit-border-radius: 104px;
	-moz-border-radius: 104px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: url('images/noe.png') no-repeat center !important;
}

.pic-wrapper {
	text-align: center;
}


/*.inspector-list ul li:before {
	display: marker;
	
	content: url('images/beepi_iso.png') left no-repeat;
	width: 16px;
	height: 16px;
}*/



/*@media (max-width: 1200px) {
		.inspector-list {
			text-align: center !important;
	}

	.inspector-list ul {
		display: inline-block !important;
	}

	.inpector-list li {
		text-align: left !important;
		float: left !important;
	}
}*/


@media (max-width: 991px) {
	.inspector-name {
		text-align: center;
		font-size: 6vmin;
	}

	.inspector-list {
		text-align: center;
	}	

	.inspector-list ul {
		display: inline-block;
		margin: 0 !important;
		padding: 0 !important;
	}

	.inspector-list ul li {
		list-style-type: none;
		text-align: center;
		font-size: 2vmin;
		font-family: "Raleway";
	}
}

@media (max-width: 767px) {
	.inspector-name {
		font-size: 8vmin !important;
	}

	.inspector-list ul li {
		font-size: 4vmin !important;
	}

	.sub-title {
		font-size: 5vmin !important;
	}

	.main-title {
		font-size: 10vmin !important;
	}
}