#map {
	height: 55%;
	width: 65%;
	margin-left: 17.5%;
	margin-right: 17.5%;
	margin-top: 2.5%;
	position: relative;
}

.map-pane {
	width: 100%;
	height: 100%;
	position: absolute;

}

#buy-pane {
	background-color: rgba(230, 230, 230, .85);
	background-repeat: repeat;
	z-index: -1;
	color: rgb(30, 30, 30);
}

#about-pane {
	background-color: rgba(230, 230, 230, .85);
	background-repeat: repeat;
	z-index: -1;
	color: rgb(30, 30, 30);
}

#sell-pane {
	background-color: rgba(30, 30, 30, .85);
	z-index: -1;
	color: white;
}

#sell-btn {
	padding-bottom: 2%;
	font-size: 2vmin;
}

#promo-pane {
	z-index: 5;
	background-color: rgba(30, 30, 30, .85);
	color: white;
}

.map-title {
	text-align: center;
	width: 100%;
	height: 25%;
	font-family: "Quicksand", 700;
}

.sell-title {
	font-size: 5vw;
}

.promo-title {
	font-size: 6vw;
}

.buy-title {
	font-size: 4vw;
}

.about-title {
	font-size: 5vw;
}

.content-reasons {
	height: 100%;
}

.map-content {
	height: 75%%;
}

.item-empty {
	height: 5%;
}

.item-empty-lg {
	height: 20%;
}

.item {
	height: 23%;
	width: 100%;
	font-size: 2vw;
	font-family: "Ubuntu";
	display: inline-block;
}

.item-detail {
	text-align: left;
	width: auto;
	height: 100%;
	float: left;
	padding-left: 5%;
}

#map-canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}

.map-button {
	width: 40%;
	margin-right: 30%;
	margin-left: 30%; 
	text-align: center;
}


.content-reasons-about {
	height: 65%;
	width: 100%;
}

.item-about {
	display: inline-block;
	float: left;
	width: 33.33%;
	height: auto;
	height: 90%;
	min-height: 60%;
}

.item-detail-about {
	width: 100%;
	text-align: center;
	font-size: 1.5vw;
	padding-top: 5%;
}

.border {
	border-right: 1px solid #000000;
}

.border-white {
	border-right: 1px solid #00BD6F;
}

.promo-content-header {
	height: 25%;
	text-align: center;
	font-size: 2vw;
	padding-top: 2%;
	font-family: "Ubuntu";
}



.item-detail-promo {
	width: 100%;
	height: 100%;
	min-height: 100%;
	text-align: center;
	font-size: 2vw;
	position: relative;
	font-family: "Ubuntu";
}

.item-detail-promo p {
	height: 25%;
}

.empty-p {
	font-size: 0;
}


.btn-promo {
	font-size: 2.5vmin !important;
	white-space: nowrap;
}

.mini-brand {
	background: url('images/beepi_iso_white.png') no-repeat;
	background-size: contain;
	background-position: center;
}

.empty-span {
	font-size: 0vw;
}

#wide-brand {
	background: url('images/beepi_white_wide.png') no-repeat;
	background-size: contain;
	background-position: center;
	margin-top: 2% !important;
	height: 23% !important;
}

